:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

body {
  background: var(--off-black);
}

#links-profile-container {
  margin: 10rem auto;
  width: 384px;
  height: 600px;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.avatar-img img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-top: 2rem;
}

.profile-text {
  text-align: center;
}

.profile-text h1 {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  margin-top: 1.5rem;
}

.profile-text h4 {
  color: var(--green);
  font-size: 14px;
  font-weight: 600;
  margin-top: 0.5rem;
}

.profile-text p {
  color: var(--white);
  font-size: 14px;
  margin-top: 1.5rem;
}

.profile-links-container {
  margin-top: 0.75rem;
}

.links-menu li {
  width: 304px;
  height: 45px;
  list-style-type: none;
  text-align: center;
  margin: 1rem 0;
}

.links-menu li a {
  background-color: var(--grey);
  text-decoration: none;
  color: var(--white);
  width: 304px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  font-weight: 700;
  transition: all 0.2s ease-in;
}

.links-menu li a:hover {
  background: var(--green);
  color: var(--dark-grey);
}

.attribution {
  color: var(--white);
  font-size: 11px;
  text-align: center;
  margin-top: -9.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 500px) {
  #links-profile-container {
    width: 90%;
    height: 600px;
  }

  .links-menu li a {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}